@model int

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Sum" class="border-danger border p-3 rounded  rounded-pill">
    <h1>The sum operation can emplement here !</h1>
    <div class="form-group">
        <label class="control-label">enter first number :<br /></label>
        <input class="form-control" value="@ViewBag.FirstNumber" name="FirstNumber" />
    </div>

    <div class="form-group">
        <label class="control-label">enter second number :<br /></label>
        <input class="form-control" value="@ViewBag.SecondNumber"  name="SecondNumber" />
    </div>
    <div class="form-group">
       
        <input class="btn btn-primary" type="submit" value="Add" />
    </div>

    <div>
        <label>The Result is : </label><p>@Model</p>
    </div>

</form>